<a href="https://colab.research.google.com/github/gonewithharshwinds/MUSP-Space-Missions-Prediction/blob/main/MUSP_Space_Missions_Predictions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Importing Dataset

In [ ]:
! pip install kaggle

Requirement already satisfied: kaggle in /usr/local/lib/python3.7/dist-packages (1.5.12)
Requirement already satisfied: python-slugify in /usr/local/lib/python3.7/dist-packages (from kaggle) (6.1.2)
Requirement already satisfied: certifi in /usr/local/lib/python3.7/dist-packages (from kaggle) (2021.10.8)
Requirement already satisfied: requests in /usr/local/lib/python3.7/dist-packages (from kaggle) (2.23.0)
Requirement already satisfied: python-dateutil in /usr/local/lib/python3.7/dist-packages (from kaggle) (2.8.2)
Requirement already satisfied: six>=1.10 in /usr/local/lib/python3.7/dist-packages (from kaggle) (1.15.0)
Requirement already satisfied: tqdm in /usr/local/lib/python3.7/dist-packages (from kaggle) (4.64.0)
Requirement already satisfied: urllib3 in /usr/local/lib/python3.7/dist-packages (from kaggle) (1.24.3)
Requirement already satisfied: text-unidecode>=1.3 in /usr/local/lib/python3.7/dist-packages (from python-slugify->kaggle) (1.3)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests->kaggle) (3.0.4)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests->kaggle) (2.10)

In [ ]:
! mkdir ~/.kaggle

In [ ]:
! cp kaggle.json ~/.kaggle/

In [ ]:
! chmod 600 ~/.kaggle/kaggle.json

In [ ]:
! kaggle datasets download agirlcoding/all-space-missions-from-1957

Downloading all-space-missions-from-1957.zip to /content
  0% 0.00/101k [00:00<?, ?B/s]
100% 101k/101k [00:00<00:00, 58.1MB/s]

In [ ]:
! unzip all-space-missions-from-1957

Archive:  all-space-missions-from-1957.zip
  inflating: Space_Corrected.csv

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
df = pd.read_csv('Space_Corrected.csv')

## Data Learning

In [ ]:
df.describe()

        Unnamed: 0  Unnamed: 0.1
count  4324.000000   4324.000000
mean   2161.500000   2161.500000
std    1248.375611   1248.375611
min       0.000000      0.000000
25%    1080.750000   1080.750000
50%    2161.500000   2161.500000
75%    3242.250000   3242.250000
max    4323.000000   4323.000000

In [ ]:
df.dtypes

Unnamed: 0         int64
Unnamed: 0.1       int64
Company Name      object
Location          object
Datum             object
Detail            object
Status Rocket     object
 Rocket           object
Status Mission    object
dtype: object

In [ ]:
df.head(3)

,Unnamed: 0,Unnamed: 0.1,Company Name,Location,Datum,Detail,Status Rocket,Rocket,Status Mission
0,0,0,SpaceX,"LC-39A, Kennedy Space Center, Florida, USA","Fri Aug 07, 2020 05:12 UTC",Falcon 9 Block 5 | Starlink V1 L9 & BlackSky,StatusActive,50.0,Success
1,1,1,CASC,"Site 9401 (SLS-2), Jiuquan Satellite Launch Ce...","Thu Aug 06, 2020 04:01 UTC",Long March 2D | Gaofen-9 04 & Q-SAT,StatusActive,29.75,Success
2,2,2,SpaceX,"Pad A, Boca Chica, Texas, USA","Tue Aug 04, 2020 23:57 UTC",Starship Prototype | 150 Meter Hop,StatusActive,NaN,Success

## Data Cleaning

In [ ]:
df[' Rocket'] = df[' Rocket'].str.replace(',', '')

In [ ]:
pd.to_numeric(df[' Rocket'])

0        50.00
1        29.75
2          NaN
3        65.00
4       145.00
         ...
4319       NaN
4320       NaN
4321       NaN
4322       NaN
4323       NaN
Name:  Rocket, Length: 4324, dtype: float64

In [ ]:
pd.isna(df[' Rocket']).count()

4324

In [ ]:
df2 = df.copy()

In [ ]:
df2[' Rocket'] = df[' Rocket'].fillna(0.00)

In [ ]:
df_notnull = df.dropna()

In [ ]:
df_notnull

,Unnamed: 0,Unnamed: 0.1,Company Name,Location,Datum,Detail,Status Rocket,Rocket,Status Mission
0,0,0,SpaceX,"LC-39A, Kennedy Space Center, Florida, USA","Fri Aug 07, 2020 05:12 UTC",Falcon 9 Block 5 | Starlink V1 L9 & BlackSky,StatusActive,50.0,Success
1,1,1,CASC,"Site 9401 (SLS-2), Jiuquan Satellite Launch Ce...","Thu Aug 06, 2020 04:01 UTC",Long March 2D | Gaofen-9 04 & Q-SAT,StatusActive,29.75,Success
3,3,3,Roscosmos,"Site 200/39, Baikonur Cosmodrome, Kazakhstan","Thu Jul 30, 2020 21:25 UTC",Proton-M/Briz-M | Ekspress-80 & Ekspress-103,StatusActive,65.0,Success
4,4,4,ULA,"SLC-41, Cape Canaveral AFS, Florida, USA","Thu Jul 30, 2020 11:50 UTC",Atlas V 541 | Perseverance,StatusActive,145.0,Success
5,5,5,CASC,"LC-9, Taiyuan Satellite Launch Center, China","Sat Jul 25, 2020 03:13 UTC","Long March 4B | Ziyuan-3 03, Apocalypse-10 & N...",StatusActive,64.68,Success
...,...,...,...,...,...,...,...,...,...
3855,3855,3855,US Air Force,"SLC-4W, Vandenberg AFB, California, USA","Fri Jul 29, 1966 18:43 UTC",Titan IIIB | KH-8,StatusRetired,59.0,Success
3971,3971,3971,US Air Force,"SLC-20, Cape Canaveral AFS, Florida, USA","Thu May 06, 1965 15:00 UTC",Titan IIIA | LES 2 & LCS 1,StatusRetired,63.23,Success
3993,3993,3993,US Air Force,"SLC-20, Cape Canaveral AFS, Florida, USA","Thu Feb 11, 1965 15:19 UTC",Titan IIIA | LES 1,StatusRetired,63.23,Success
4000,4000,4000,US Air Force,"SLC-20, Cape Canaveral AFS, Florida, USA","Thu Dec 10, 1964 16:52 UTC",Titan IIIA | Transtage 2,StatusRetired,63.23,Success
4020,4020,4020,US Air Force,"SLC-20, Cape Canaveral AFS, Florida, USA","Tue Sep 01, 1964 15:00 UTC",Titan IIIA | Transtage 1,StatusRetired,63.23,Failure

In [ ]:
df2.head(1)

,Unnamed: 0,Unnamed: 0.1,Company Name,Location,Datum,Detail,Status Rocket,Rocket,Status Mission,datum_day,datum_time,day,date,month,date_day,year,time
0,0,0,SpaceX,"LC-39A, Kennedy Space Center, Florida, USA","Fri Aug 07, 2020 05:12 UTC",Falcon 9 Block 5 | Starlink V1 L9 & BlackSky,StatusActive,50.0,Success,Fri Aug 07,2020 05:12 UTC,Fri,Aug 07,Aug,07,,2020 05:12 UTC

In [ ]:
df2.isna().count()

In [ ]:
df2[['datum_day','datum_time']] = df2['Datum'].str.split(',',expand=True)

In [ ]:
df2[['day','date']] = df2["datum_day"].str.split(" ", 1, expand=True)

In [ ]:
df2[['month','date_day']] = df2["date"].str.split(" ", 1, expand=True)

In [ ]:
df2[['year','time']] = df2["datum_time"].str.split(" ",1, expand=True)

In [ ]:
df_predict_one = df2[['Company Name','day','Status Mission']]

In [ ]:
df_predict_one[df_predict_one["status_num"] == 1].groupby('company').mean().sort_values('company_num')

                  status_num   day_num  company_num
company
SpaceX                   1.0  4.000000          0.0
CASC                     1.0  3.785714          1.0
Roscosmos                1.0  1.333333          2.0
JAXA                     1.0  3.000000          4.0
Northrop                 1.0  1.857143          5.0
ExPace                   1.0  0.000000          6.0
IAI                      1.0  2.500000          7.0
Rocket Lab               1.0  2.000000          8.0
Virgin Orbit             1.0  4.000000          9.0
VKS RF                   1.0  4.000000         10.0
MHI                      1.0  3.500000         11.0
Arianespace              1.0  2.428571         13.0
ISA                      1.0  3.250000         14.0
ISRO                     1.0  2.500000         16.0
Exos                     1.0  3.000000         17.0
OneSpace                 1.0  6.000000         20.0
Landspace                1.0  3.000000         21.0
Eurockot                 1.0  3.000000         22.0
CASIC                    1.0  3.500000         24.0
KCST                     1.0  3.333333         25.0
Sandia                   1.0  6.000000         26.0
Kosmotras                1.0  6.000000         27.0
Sea Launch               1.0  2.333333         29.0
KARI                     1.0  1.500000         30.0
ESA                      1.0  1.000000         31.0
NASA                     1.0  2.181818         32.0
Boeing                   1.0  2.333333         33.0
ISAS                     1.0  3.000000         34.0
SRC                      1.0  2.000000         35.0
MITT                     1.0  2.000000         36.0
Lockheed                 1.0  2.000000         37.0
AEB                      1.0  4.000000         38.0
RVSN USSR                1.0  2.553719         40.0
EER                      1.0  4.000000         41.0
General Dynamics         1.0  2.540541         42.0
Martin Marietta          1.0  3.000000         43.0
US Air Force             1.0  2.366667         47.0
CNES                     1.0  3.500000         48.0
CECLES                   1.0  0.666667         49.0
RAE                      1.0  4.000000         50.0
UT                       1.0  3.500000         51.0
AMBA                     1.0  4.000000         53.0
US Navy                  1.0  2.214286         55.0

In [ ]:
df_predict_one[df_predict_one["status_num"] == 1].groupby('company').count().sort_values('company_num')

                  day  status  status_num  day_num  company_num
company
Kosmotras           1       1           1        1            1
Sandia              1       1           1        1            1
SRC                 1       1           1        1            1
RAE                 1       1           1        1            1
OneSpace            1       1           1        1            1
MITT                1       1           1        1            1
Landspace           1       1           1        1            1
JAXA                1       1           1        1            1
Exos                1       1           1        1            1
ExPace              1       1           1        1            1
Virgin Orbit        1       1           1        1            1
EER                 1       1           1        1            1
Eurockot            1       1           1        1            1
AEB                 2       2           2        2            2
IAI                 2       2           2        2            2
Rocket Lab          2       2           2        2            2
CNES                2       2           2        2            2
KARI                2       2           2        2            2
CASIC               2       2           2        2            2
MHI                 2       2           2        2            2
Sea Launch          3       3           3        3            3
AMBA                3       3           3        3            3
Roscosmos           3       3           3        3            3
Boeing              3       3           3        3            3
ESA                 3       3           3        3            3
CECLES              3       3           3        3            3
KCST                3       3           3        3            3
ISAS                3       3           3        3            3
SpaceX              4       4           4        4            4
UT                  4       4           4        4            4
Lockheed            5       5           5        5            5
Northrop            7       7           7        7            7
VKS RF              7       7           7        7            7
Arianespace         7       7           7        7            7
ISRO                8       8           8        8            8
ISA                 8       8           8        8            8
NASA               11      11          11       11           11
Martin Marietta    11      11          11       11           11
CASC               14      14          14       14           14
US Navy            14      14          14       14           14
US Air Force       30      30          30       30           30
General Dynamics   37      37          37       37           37
RVSN USSR         121     121         121      121          121

In [ ]:
df_predict_one.head(10)

     company  day   status  status_num  day_num  company_num
0     SpaceX  Fri  Success           0        0            0
1       CASC  Thu  Success           0        1            1
2     SpaceX  Tue  Success           0        2            0
3  Roscosmos  Thu  Success           0        1            2
4        ULA  Thu  Success           0        1            3
5       CASC  Sat  Success           0        3            1
6  Roscosmos  Thu  Success           0        1            2
7       CASC  Thu  Success           0        1            1
8     SpaceX  Mon  Success           0        4            0
9       JAXA  Sun  Success           0        5            4

In [ ]:
df_predict_one.max()

company        i-Space
day                Wed
status         Success
status_num           3
day_num              6
company_num         55
dtype: object

In [ ]:
df_predict_one.rename(columns = {'Status Mission':'status'}, inplace = True)

/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:5047: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [ ]:
df_predict_one.rename(columns = {'Company Name':'company'}, inplace = True)

/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:5047: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [ ]:
#df_predict_one.status[df_predict_one.status == 'Success'] = 1
#df_predict_one.status[df_predict_one.status == 'Failure'] = 0
df_predict_one['status_num'] = pd.factorize(df_predict_one['status'])[0]

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [ ]:
df_predict_one['day_num'] = pd.factorize(df_predict_one['day'])[0]

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [ ]:
df_predict_one.shape

(4324, 5)

In [ ]:
df_predict_one['company_num'] = pd.factorize(df_predict_one['company'])[0]

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

## Test Train Split

In [ ]:
from sklearn.model_selection import train_test_split

In [ ]:
X1 = df_predict_one[['company_num','day_num']]

In [ ]:
df_predict_one["company_num"] = df_predict_one["company_num"].astype(str).astype(int)
df_predict_one["day_num"] = df_predict_one["day_num"].astype(str).astype(int)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [ ]:
y = df_predict_one[['status_num']]

In [ ]:
#y['status_num'] = y['status_num'].astype(float).astype(int)

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(X1, y, test_size=0.33, random_state=42)

In [ ]:
X_train.shape

(2897, 2)

In [ ]:
X_test.shape

(1427, 2)

In [ ]:
y_train.shape

(2897, 1)

In [ ]:
y_test.shape

(1427, 1)

In [ ]:
y_train.dtypes

status_num    int64
dtype: object

## Using Gaussian Naive Bayes

In [ ]:
from sklearn.naive_bayes import GaussianNB
nb = GaussianNB()
nb.fit(X_train.values, y_train.values)

/usr/local/lib/python3.7/dist-packages/sklearn/utils/validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

GaussianNB()

In [ ]:
print("Naive Bayes score: ",nb.score(X_test, y_test))

Naive Bayes score:  0.9011913104414856

/usr/local/lib/python3.7/dist-packages/sklearn/base.py:444: UserWarning: X has feature names, but GaussianNB was fitted without feature names
  f"X has feature names, but {self.__class__.__name__} was fitted without"

In [ ]:
predicted= nb.predict([[40,0],[40,1],[40,2],[40,3],[40,4],[40,5],[40,6]]) # 40:RVSN USSR
predicted2= nb.predict([[42,0],[42,1],[42,2],[42,3],[42,4],[42,5],[42,6]])  # 42:General Dynamics
print("Predicted Value:", predicted)

Predicted Value: [0 0 0 0 0 0 0]

In [ ]:
print("Predicted Value:", predicted2)

Predicted Value: [0 0 0 0 0 0 0]

In [ ]:
print(nb)

GaussianNB()

## Checking for improvements in accuracy
{based on a few test train splits}

In [ ]:
X1_train, X1_test, y1_train, y1_test = train_test_split(X1, y, test_size=0.30, random_state=42)

In [ ]:
nb2 = GaussianNB()
nb2.fit(X1_train, y1_train)

/usr/local/lib/python3.7/dist-packages/sklearn/utils/validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

GaussianNB()

In [ ]:
print("Naive Bayes score: ",nb2.score(X1_test, y1_test))

Naive Bayes score:  0.8998459167950693

In [ ]:
X2_train, X2_test, y2_train, y2_test = train_test_split(X1, y, test_size=0.40, random_state=42)
nb3 = GaussianNB()
nb3.fit(X2_train, y2_train)
print("Naive Bayes score: ",nb3.score(X2_test, y2_test))

Naive Bayes score:  0.900578034682081

/usr/local/lib/python3.7/dist-packages/sklearn/utils/validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

In [ ]:
X3_train, X3_test, y3_train, y3_test = train_test_split(X1, y, test_size=0.32, random_state=42)
nb4 = GaussianNB()
nb4.fit(X3_train, y3_train)
print("Naive Bayes score: ",nb4.score(X3_test, y3_test))

Naive Bayes score:  0.9002890173410405

/usr/local/lib/python3.7/dist-packages/sklearn/utils/validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

## Conclusion